<style>
    .sidebar2{
        width:250px;
        height: 100vh;
        background: blue;
        top: 0;
        left: 0;
        padding-top:15px;
    }
    .sidebar2 a{
        display: block;
        color:navy;
        background: skyblue;
        padding: 10px 20px;
        text-decoration: none;
        font-size:15px;
        transition:0.3s;
    }
    .sidebar2 a:hover{
        border-radius: 5px;
        color: navy;
        border: black;
        background: white;
        border-left: 4px solid red;
    }
    .submenu2{
        border-radius:5px;
        background: skyblue;
        padding-left: 20px;
        margin: 0px 10px;
    }
    .submenu2 a{
        background: none;
    }
    .navbar{
        border-radius: 5px;
        margin: 2px 10px 2px 10px;
    }
</style>


<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div>
@* <div class="" onclick="document.querySelector('.navbar-toggler').click()"> *@

    
    <div class="sidebar2">
        <a class="navbar mt-1" href="#home" data-bs-toggle="collapse">Home ▾</a>
        <div class="collapse submenu2" id="home">
            <a href="#">Room1</a>
            <a href="#">Room2</a>
            <a class="navbar mt-1" href="#room3" data-bs-toggle="collapse">Room3 ▾</a>
            <div class="collapse submenu2" id="room3">
                <a href="#">Bed</a>
                <a href="#">chair</a>
                <a href="#">table</a>
                </div>
        </div>

        <a class="navbar mt-1" href="#maintanance" data-bs-toggle="collapse">Maintanance Servie ▾</a>
        <div class="collapse submenu2" id="maintanance">
            <a href="#">On call service</a>
            <a href="#">Warrenty Service</a>
            <a href="#">AMC Service</a>
            <a href="#">CMC Service</a>
        </div>

        <a class="navbar mt-1" href="#MachineInstallation" @* data-bs-toggle="collapse" *@>New Machine Installation</a>

        <a class="navbar mt-1" href="#BillingandRecovery" @* data-bs-toggle="collapse" *@>Billing and Recovery</a>

        <a class="navbar mt-1" href="#OperationReport" data-bs-toggle="collapse">Operation Report ▾</a>
        <div class="collapse submenu2" id="OperationReport">
            <a href="#">On call service</a>
            <a href="#">Warrenty Service</a>
            <a href="#">AMC Service</a>
            <a href="#">CMC Service</a>
        </div>

        <a class="navbar mt-1" href="#GeneralInformation" data-bs-toggle="collapse">General Information ▾</a>
        <div class="collapse submenu2" id="GeneralInformation">
            <a href="#">On call service</a>
            <a href="#">Warrenty Service</a>
            <a href="#">AMC Service</a>
            <a href="#">CMC Service</a>
        </div>

        <a class="navbar mt-1" href="#SetupConfiguration" data-bs-toggle="collapse">Setup & Configuration ▾</a>
        <div class="collapse submenu2" id="SetupConfiguration">
            <a href="#">On call service</a>
            <a href="#">Warrenty Service</a>
            <a href="#">AMC Service</a>
            <a href="#">CMC Service</a>
        </div>

        <a class="navbar mt-1" href="#Tokenmanagement" data-bs-toggle="collapse">Service Token management ▾</a>
        <div class="collapse submenu2" id="Tokenmanagement">
            <a href="#">On call service</a>
            <a href="#">Warrenty Service</a>
            <a href="#">AMC Service</a>
            <a href="#">CMC Service</a>
        </div>
    </div>
    


@* 
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav> *@
</div>

